table.shadow {
  box-shadow: 0px 1px 2px #888888;
}

.borderless td,
.borderless th {
  border: none;
}

.table>tbody>tr>td .valign-middle {
  vertical-align: niddle !important;
}

i.fa {
  margin-right: 10px !important;
}

table.card label,
button.btn,
a.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.alert, .alert h4 {
  color: #c09853;
  padding: 0px;
}

.alert p {
  margin: 0;
}

.alert {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #fcf8e3;
  border-radius: 4px;
  border: 1px solid #fbeed5;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.fa-thumbs-o-up {
  color: green;
}

.fa-thumbs-o-down {
  color: red;
}

.card-seal {
  background: url('/img/seal.png') no-repeat;
  height: 117px;
  margin-top: 0px;
  position: absolute;
  right: 5px;
  width: 96px;
  z-index: 1000;
}

#loading-message {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  height:18em;
  left: 50%;
  margin-left: -15em;
  margin-top: -9em;
  position:fixed;
  top: 50%;
  width:30em;
  z-index: 9999;
}

.empty-list-style {
  list-style-type: none;
}

@media (max-width: 1200px) {
  .card-seal {
    background: url('/img/seal_small.png') no-repeat;
    height: 41px;
    right: 30px;
    width: 32px;
  }
}

@media (max-width: 768px) {
  a.btn {
    font-size: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}