<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11686593-26"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-11686593-26");

  var trackOutboundLink = function (url, isExternal = true) {
    gtag('event', 'toolclick', {
      'event_category': 'outbound',
      'event_label': url,
      'transport_type': 'beacon',
      'event_callback': function () {
        if (!isExternal) {
          document.location = url;
        }
      }
    });
  }
</script>