<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11686593-26"></script>
<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-11686593-26');
</script>

<script>
	/**
	 * Function that tracks a click on an outbound link in Analytics.
	 * This function takes a valid URL string as an argument, and uses that URL string
	 * as the event label. Setting the transport method to 'beacon' lets the hit be sent
	 * using 'navigator.sendBeacon' in browser that support it.
	 */
	var trackOutboundLink = function (url, isExternal) {
		gtag('event', 'click', {
			'event_category': 'outbound',
			'event_label': url,
			'transport_type': 'beacon',
			'event_callback': function () {
				if (!isExternal) {
					document.location = url;
				}
			}
		});
		return isExternal;
	}
</script>